<!DOCTYPE html>
<html ng-app="kadiCarApp">
<head>
    <meta charset="utf-8">
    <title>KadiCar! Wroom wroom.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="static/assets/img/dollarcar1.png">

    <script src="http://d3js.org/d3.v2.js"></script>
    <script src="http://dimplejs.org/dist/dimple.v2.1.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> <!-- Latest compiled and minified CSS -->       
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">  Optional theme -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> Latest compiled and minified JavaScript -->

    <link rel="stylesheet" href="static/css/app.css"/>
    <link rel="stylesheet" href="static/css/dashgum-style.css"/>
    <link rel="stylesheet" href="static/css/dashgum-style-responsive.css"/>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="static/js/app.js"></script>
    <script type="text/javascript" src="static/js/controllers.js"></script>
    <script type="text/javascript" src="static/js/directives.js"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
</head>
<body>

    <section id="container">

        <!--header start-->
        <header class="header green-bg">
            <a href="/" class="logo"><b>KADICAR!</b></a>
                        <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a href="https://github.com/kadikraman/KadiCarAPI" class="github-logo"><img src="static/assets/img/GitHub_Logo.png" width="60"></a></li>
                </ul>
            </div>
        </header>
        <!--header end-->

        <!--sidebar start-->
        <div ng-controller="TabsCtrl"> 
            <aside>
              <div id="sidebar"  class="nav-collapse" >

                  <!-- sidebar menu start-->
                  <ul class="sidebar-menu" id="nav-accordion">

                      <p class="centered car-icon"><a ng-click="onClickTab('about.tpl.html')"><img src="static/assets/img/dollarcar1.svg" width="80"></a></p>
                      <h5 class="centered">Toyota Yaris (1999)</h5>

                      <li class="tab" ng-class="{active:isActiveTab('dashboard.tpl.html')}" ng-click="onClickTab('dashboard.tpl.html')">
                          <a ng-class="{active:isActiveTab('dashboard.tpl.html')}">
                              <i class="fa fa-dashboard"></i>
                              <span>Dashboard</span>
                          </a>
                      </li>

                      <li class="tab" ng-class="{active:isActiveTab('raw.tpl.html')}" ng-click="onClickTab('raw.tpl.html')">
                          <a ng-class="{active:isActiveTab('raw.tpl.html')}">
                              <i class="fa fa-desktop"></i>
                              <span>Raw View</span>
                          </a>
                      </li>

                      <li class="tab" ng-class="{active:isActiveTab('petrol.tpl.html')}" ng-click="onClickTab('petrol.tpl.html')">
                          <a ng-class="{active:isActiveTab('petrol.tpl.html')}">
                              <i class="fa fa-cogs"></i>
                              <span>Petrol Calculations</span>
                          </a>
                      </li>
                      <li class="tab" ng-class="{active:isActiveTab('linechart.tpl.html')}" ng-click="onClickTab('linechart.tpl.html')">
                          <a ng-class="{active:isActiveTab('linechart.tpl.html')}">
                              <i class="fa fa-line-chart"></i>
                              <span>Line Chart</span>
                          </a>
                      </li>
                      <li class="tab" ng-class="{active:isActiveTab('barchart.tpl.html')}" ng-click="onClickTab('barchart.tpl.html')">
                          <a ng-class="{active:isActiveTab('barchart.tpl.html')}">
                              <i class="fa fa-tasks"></i>
                              <span>Bar Chart</span>
                          </a>
                      </li>
                      <li class="tab" ng-class="{active:isActiveTab('misccharts.tpl.html')}" ng-click="onClickTab('misccharts.tpl.html')">
                          <a ng-class="{active:isActiveTab('misccharts.tpl.html')}">
                              <i class=" fa fa-bar-chart-o"></i>
                              <span>Misc Charts</span>
                          </a>
                      </li>
                      <li class="tab" ng-class="{active:isActiveTab('api.tpl.html')}" ng-click="onClickTab('api.tpl.html')">
                          <a ng-class="{active:isActiveTab('api.tpl.html')}">
                              <i class="fa fa-share-alt"></i>
                              <span>API</span>
                          </a>
                      </li>

                  </ul>
                  <!-- sidebar menu end-->
              </div>
          </aside>
          <!--sidebar end-->

        <section id="main-content">
            <section class="wrapper site-min-height">
                <div id="mainView">
                  <div ng-include="currentTab"></div>
              </div>

              <script type="text/ng-template" id="dashboard.tpl.html">
              <h3><i class="fa fa-angle-right"></i> Dashboard</h3>
                <div class="row mt">
                    <div class="col-lg-12">
                        <div id="dashboard">
                            Hello, kind stranger. Welcome to my pet pet project. This is work in progress intul further notice.
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="raw.tpl.html">
                <h3><i class="fa fa-angle-right"></i> Raw View</h3>
                <div class="row mt">
                    <div class="col-lg-12">
                        <div id="raw">
                            <div ng-include src="'static/partials/raw_view.html'"></div>
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="petrol.tpl.html">
                <h3><i class="fa fa-angle-right"></i> Petrol Calculations</h3>
                <div class="row mt">
                    <div class="col-lg-12">
                        <div id="petrol">
                            <p>In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu.</p>
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="linechart.tpl.html">
                <h3><i class="fa fa-angle-right"></i> Line Chart</h3>
                <div class="row mt">
                    <div class="col-lg-12">
                        <div id="linechart">
                            <div ng-include src="'static/partials/basic_line_chart.html'"></div>
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="barchart.tpl.html">
                <h3><i class="fa fa-angle-right"></i> Bar Chart</h3>
                <div class="row mt">
                    <div class="col-lg-12">
                        <div id="barchart">
                            <p>About KadiCar. Pet pet the car. Feed it petrols. But oh noes, is car getting too pricey to manage? Better investigate.</p>
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="misccharts.tpl.html">
                <h3><i class="fa fa-angle-right"></i> Misc Charts</h3>
                <div class="row mt">
                    <div class="col-lg-12">
                        <div id="misccharts">
                            <p>Meow Meow Meow</p>
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="api.tpl.html">
                <h3><i class="fa fa-angle-right"></i> API</h3>
                <div class="row mt">
                    <div class="col-lg-12">
                        <div id="api">
                            <div ng-include src="'static/partials/api.html'"></div>
                        </div>
                    </div>
                </div>
            </script>

            <script type="text/ng-template" id="about.tpl.html">
                <h3><i class="fa fa-angle-right"></i> About</h3>
                <div class="row mt">
                    <div class="col-lg-12">
                        <div id="about">
                            <p>About KadiCar. Pet pet the car. Feed it petrols. But oh noes, is car getting too pricey to manage? Better investigate.</p>
                        </div>
                    </div>
                </div>
            </script>


        </section><!--/wrapper -->
    </section><!-- /MAIN CONTENT -->

</div>

</section>
</body>
</html>