<div ng-controller="RawViewCtrl">
	<div class="col-md-12 mt">
		<div class="content-panel">
			<table class="table table-hover ">
				<thead>
					<tr>
						<th>#</th>
						<th>Expense Type</th>
						<th>Amount</th>
						<th>Expense Date</th>
						<th>Mileage</th>
						<th>Litres</th>
						<th>Comment</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="expense in data">
						<td>{{expense.id}}</td>
						<td>{{expense.expense_type}}</td>
						<td>{{expense.amount | currency:currencySymbol}}</td>
						<td>{{expense.expense_date | date:'d MMM y'}}</td>
						<td>{{expense.mileage}}</td>
						<td>{{expense.litres}}</td>
						<td>{{expense.comment}}</td>
					</tr>
				</tbody>
			</table>
		</div><!--/content-panel -->
	</div><!-- /col-md-12 -->
</div><!-- row -->
</div>